[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[merge]
	tool = vimdiff
[alias]
	st = status -sb
	ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' 
  vacuum = !git branch --merged master | grep -v \"* master\" | xargs -n 1 echo git branch -d

[user]
	name = Dennis Møllegaard Pedersen

[include]
	path = ~/.gitconfig.local

[core]
	excludesfile = ~/.gitconfig.ignore
[push]
	default = current # allows : git push -u  w/o explicit origin
[gui]
	gcwarning = false
